:root {
  /* Colors */
  --rick-primary: #e8f2fe;
  --rick-dark: #010727;

  /* Font size */
  --sm: 1.4rem;
  --md: 1.8rem;
  --lg: 2.4rem;

  /* Weight */
  --light: 300;
  --medium: 500;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Oxanium", cursive;
  min-width: 320px;
}

h1 {
  font-size: var(--lg);
}

h2 {
  font-size: var(--md);
}

body {
  background-color: var(--rick-dark);
  margin: 12px;
}

header {
  display: flex;
  place-items: center;
  place-content: center;
  height: 90px;
  width: 100%;
  margin-bottom: 24px;
}
.header img {
  height: 80px;
  width: auto;
}

/*** Container Card ***/

.main {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  place-content: center;
  gap: 20px;
}

.container-card {
  background-color: #e8f2fe;
  border-radius: 8px;
  text-align: center;
}

.card-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 8px;
}
