:root {
  /* Colors */
  --rick-primary: #e8f2fe;
  --rick-dark: #010727;
  --rick-title: #05322e;
  --rick-text: #184d57;

  /* Font size */
  --sm: 1.2rem;
  --md: 1.8rem;
  --lg: 2.4rem;

  /* Weight */
  --light: 300;
  --medium: 500;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Oxanium", cursive;
  min-width: 320px;
}

h1 {
  font-size: var(--lg);
}

h2 {
  font-size: var(--md);
  padding: 2px 0;
}

h1,
h2 {
  color: var(--rick-title);
}

p {
  font-size: var(--sm);
  color: var(--rick-text);
  font-weight: var(--light);
}

body {
  background-color: var(--rick-dark);
  margin: 12px;
}

header {
  display: flex;
  place-items: center;
  place-content: center;
  height: 90px;
  width: 100%;
  /* margin-bottom: 24px; */
  margin-bottom: 80px;
}
.header img {
  height: 80px;
  width: auto;
  object-fit: cover;
}

/*** Container Card ***/

.main {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  place-content: center;
  gap: 12px;
}

.container-card {
  position: relative;
  background-color: #e8f2fe;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 72px;
}

.container-text {
  /* padding: 8px;0 */
  padding: 60px 8px 8px 8px;
}

.card-image img {
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  width: 120px;
  /* width: 100%; */
  height: 120px;
  border-radius: 50%;
  padding: 8px;
}

.card-title p,
.location p {
  text-align: start;
  padding: 0 12px;
}

.container-text span {
  font-weight: var(--medium);
}