:root {
  /* Colors */
  --rick-primary: #e8f2fe;
  --rick-dark: #010727;
  --rick-title: #062286;
  --rick-text: #184d57;
  --rick-secondary: #ace9fd;
  --rick-purple-dark: #9200b6;
  --rick-purple-light: #eabbf3;
  --rick: #39b3c9;
  --rick-body: #c8e1ff;
  /* Font size */
  --sm: 1.2rem;
  --md: 1.8rem;
  --lg: 2.4rem;
  --title: 3rem;

  /* Weight */
  --light: 300;
  --medium: 500;
  --bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Oxanium", cursive;
  min-width: 320px;
}

h1 {
  font-size: var(--lg);
}

h2 {
  font-size: var(--md);
  padding: 2px 0;
}

h1,
h2 {
  color: var(--rick-title);
}

p {
  font-size: var(--sm);
  color: var(--rick-text);
  font-weight: var(--medium);
}

body {
  background-color: var(--rick-body);
}

/* main.rick {
  background: url(../images/backgrounds/rick-and-morty-api-768.png);
} */

main {
  position: relative;
}

main.rick::after {
  content: "";
  background: url(../images/backgrounds/rick-and-morty-api-768.png);
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}



/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--rick-body) var(--rick-dark);
}

/* Works on Chrome, Edge, and Safari */

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--rick-dark); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--rick-body); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--rick-dark); /* creates padding around scroll thumb */
}

header {
  display: flex;
  place-content: center;
  height: 90px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 100px;
  background-color: var(--rick-dark);
  border-radius: 0 0 12px 12px;
}
.header img {
  height: 80px;
  width: auto;
  object-fit: cover;
}

.header .icon-rick {
  display: none;
  height: 55px;
  width: auto;
}


.vibrate {
  -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/*** Container Card ***/

.main {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 180px));
  place-content: center;
  gap: 12px;
  padding: 80px 12px 12px 12px;
  /* background-color: #c8e1ff; */
}

.container-card {
  position: relative;
  background-color: #e8f2fe;
  /* background-color: var(--rick-secondary); */
  border-radius: 8px;
  text-align: center;
  margin-bottom: 72px;
}

.container-text {
  /* padding: 8px;0 */
  padding: 70px 8px 16px 8px;
}

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.card-image img {
  position: absolute;
  top: -60px;
  left: calc(50% - 60px);
  width: 120px;
  /* width: 100%; */
  height: 120px;
  border-radius: 50%;
  border: 3px solid var(--rick-secondary);
}

.card-title p,
.location p {
  text-align: start;
  padding: 0 12px;
}

.container-text span {
  font-weight: var(--bold);
}

/** Footer **/

.footer {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  height: 140px;
  /* background-color: var(--rick-secondary); */
  background-color: var(--rick-dark);
  border-radius: 12px 12px 0 0;
}

.footer h1 {
  color: var(--rick-body);
  font-size: var(--title);
  font-weight: 700;
  padding-bottom: 8px;
}

.footer p {
  font-weight: 700;
  color: var(--rick);
}

.footer p a {
  text-decoration: none;
  color: var(--rick-body);
}

div.container-redes {
  display: flex;
  font-size: 2rem;
}

div .redes {
  color: var(--rick-body);
  margin: 12px 4px;
}
