:root {
  /* Font size */
  --sm: 1.6rem;
  --md: 2.2rem;
  --lg: 2.8rem;
  --title: 4rem;
}

h2 {
  padding: 4px 0;
}

header {
  height: 180px;
  padding-top: 32px;
  padding-bottom: 180px;
  border-radius: 0 0 16px 16px;
}

.header img {
  height: 140px;
}

.header .icon-rick {
  display: block;
  height: 125px;
  width: auto;
}

/*** Container Card ***/

.main {
  grid-template-columns: repeat(auto-fill, minmax(140px, 200px));
  padding: 120px 12px 12px 12px;
  gap: 20px;
}

.container-card {
  margin-bottom: 90px;
}

.container-text {
  padding: 90px 8px 20px 8px;
}

.card-image img {
  top: calc(0% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
}

/** Footer **/

.footer {
  border-radius: 16px 16px 0 0;
  height: 180px;
}

div.container-redes {
  font-size: 3rem;
}

div .redes {
  margin: 12px 8px;
}
